<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2>Переводы с карты на карту</h2>

  <!--<div class="tabs">-->

  <!--</div>-->
  <div class="tabs">
    <div class="tabs-nav">
      <a class="tabs-nav-link" routerLink="/create"  routerLinkActive="active">Создание перевода</a>
      <a class="tabs-nav-link" routerLink="/history" routerLinkActive="active">История</a>
    </div>

    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

